@model Proyecto_21351029.Request

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>
<header>Error</header>
<body>
    <div>Ya ha creado el maximo numero de solicitudes esta semana. </div>
</body>