
@{
    ViewBag.Title = "ErrorCreating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>
<header>Error</header>
<body>
    <div>VERIFIQUE LA INFORMACION INGRESADA. </div>
    <div>PUEDE SER: NUMERO DE CUENTA YA UTILIZADO</div>
</body>

