@model IEnumerable<Proyecto_21351029.Tutorial>

@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Export</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @Html.ActionLink("Export2", "Export2") |

</table>
